@mixin main-side-padding {
  padding-left:40px;
  padding-right: 40px;
}

@mixin main-upDown-padding {
  padding-top:35px;
  padding-bottom: 15px;
}

@mixin margin-auto {
  margin-left: auto;
  margin-right: auto;

}




@mixin flex-row-spacebetween{
  display: flex;
  justify-content: space-between;
  align-items: center;
}
