section{

  @include main-side-padding;
  font-family: 'Oswald';
  font-weight: 300;
  h2{font-family: 'Bebas Neue', cursive;}


  #employees-list   {

        width:100%;

        ul,ol{
          list-style-type: none;
        }

        .main-list{
          display: flex;
          justify-content: flex-start;
          align-items: center;
          flex-wrap: wrap;
          width: 100%;
          height:100%;

          &>li{
            padding:20px;
            width: calc(100% / 4);
            min-height:100px;
          }
        }
      }

      #employee-show  {

        padding-top: 30px;

        h2 {
          padding-bottom: 20px;

        }

        .selected-employee, #tasks-carousel {
          max-width:400px;
          @include margin-auto;
          padding-bottom: 40px;
          position: relative;
          top:0;
          left:0;

          ul{
            line-height: 2;
          }

          .tasks-container{
            @include margin-auto;
            border: 1px solid black;
          }

            #prev{
              position: absolute;
              top:50%;
              left:-20px;
            }

            #next{
              position: absolute;
              top:50%;
              right:-20px;
            }

            .buttons{
              position: absolute;
              top:0;
              right:0;
            }






        }




  }




}
